__version__ = "1.0.0"

def get_provider_info():
    return {
        "package-name": "airflow-provider-{{ name }}",  # Required
        "name": "Airflow Provider {{ name }}",  # Required
        "description": "Apache Airflow provider {{ name }}",  # Required
        "versions": [__version__],  # Required
    }
